*{
    margin: 0;
    padding: 0;
    font-family: minhaFonte;
}
html, body{
    max-width: 100%;
    height: 100%;
}
@font-face {
    font-family: MinhaFonte;
    src: url(./Lemon\ Friday.ttf);
}
#teia{
    position: absolute;
    max-width: 45vw;
    max-height: 100vh;
    top: 0;
    left: 0;
}

.container{
    max-width: 100%;
    height: 100%;
    background-image: url(./bgluiz4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}
#twitchvideo{
    text-align: center;
    width: auto;
    height: auto;
    //*background-color: darkcyan;*//
    margin: auto;
}
#tvideo{
    width: 820px;
    height: 500px;
}
header{
    margin-top: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    text-shadow: rgb(27, 165, 165) -7px 7px 7px, rgb(192, 19, 180) 7px -7px 7px;

}
 
footer{
    max-width: 100%;
}
#botoes{
    max-width: 80%;
    margin-top: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding: 15px;
}
.botao{
    margin: 3px;
    width: 140px;
    height: 140px;
    background-size: 140px; 
    border-radius: 9px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1); 

}

#twitch{
    background-color: rgb(161, 112, 206);
    background-image: url(./twitchlogo.png);
    background-image: cover;
    background-position: center;

}
#discord{
    background-color: #859fff;
    background-image: url(./discordlogo.png);
    background-position: center;
}
#twitter{
    background-color: #02ace3;
    background-image: url(./twitterlogo.png);
    background-position: center;
}
#doacao{
    position: relative;    
    width: 60%;    
    margin: auto;
    margin-top: 10px;     
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);    
    font-size: 1.1vw;   
    border-radius: 10px; 
    border-style: solid;
    border-color: black;
    border-width: 10px;    
    overflow: hidden;       
    text-overflow: "…";    
}
@media screen and (max-width: 1107px) {
    .botao{        
        width: 130px;
        height: 130px;   
        background-size: 130px;   
    }
    #doacao{
        width: 100%;
        font-size: 1.4rem;
    }    
@media screen and (max-width: 889px) {
    .botao{        
        width: 100px;
        height: 100px; 
        background-size: 100px;     
    }
    #doacao{
        width: 100%;
        font-size: 1.4rem;
    }    

}
@media screen and (max-width: 883px) {
    h1{
        /* color: darkgreen; */
    }
    #tvideo{
        width: 688px;
        height: 420px;
    }
    #botoes{
        width: 100%;
    }
    .botao{
        width: 90px;
        height: 90px;
        background-size: 90px;
    }
    #doacao{
        width: 100%;
        font-size: 2vw;
    }
}
@media screen and (max-width: 700px) {
    h1{
        /* color: rgb(255, 0, 0); */
    }
    #tvideo{
        width: 620px;
        height: 378px;       
    }
    #botoes{
        max-width: 100%;
        margin-top: 4px;
    }
    .botao{
        width: 90px;
        height: 90px;
        background-size: 90px;
    }  
    #doacao{
        width: 100%;
        font-size: 4vw;
    }
}
@media screen and (max-width: 635px) {
    h1{
        font-size: 18vw;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;

    }
    #tvideo{
        width: 432px;
        height: 250px;
    }
    
    #teia{
        width: 100%;
    }
    #doacao{
        width: 100%;
        font-size: 4vw;
    }
}
@media screen and (max-width: 360px) {
    h1{
        font-size: 25vw;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;

    }
    #tvideo{
        width: 300px;
        height: 180px;
    }
    .botao{
        width: 75px;
        height: 75px;
        background-size: 75px;
    }
    #teia{
        width: 100%;
    }
    #doacao{
        width: 100%;
        font-size: 4vw;
    }
}
